<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Form</title>
  </head>
  <body>
    <h3>{{ heading_1 }}</h3>
    <form action="" method="POST">
      {{ test_form.as_p }}
      {% csrf_token %}
      <input type="submit" name="submit" value="Submit">
    </form>
    <hr>

    {% if form_submited %}
      <p>First Name:{{ user_name1 }}</p>
      <p>Last Name: {{ user_name2 }}</p>
      <p>Date of Birth: {{ user_dob }}</p>
      <p>Email: {{ user_email }}</p>
    {% endif %}
  </body>
</html>
